/* Responsive para tablets y escirorio pequeño*/

@media only screen and (min-width: 600px ){
    .col-m-1{width: 8.33%;}
    .col-m-2{width: 16.66%;}
    .col-m-3{width: 25%;}
    .col-m-4{width: 33.33%;}
    .col-m-5{width: 41.66%}
    .col-m-6{width: 50%;}
    .col-m-7{width: 58.33%;}
    .col-m-8{width: 66.66%;}
    .col-m-9{width: 75%;}
    .col-m-10{width: 83.33%;}
    .col-m-11{width: 91.66%;}
    .col-m-12{width: 100%;}

    /* CSS header */

    .divImagen {
        width: 7rem;
    }

    .imagen-logo {
        margin: 2rem 0;
    }

    .titulo {
        width: 25%;
    }

    /* Efecto hover para el título */
    .titulo:hover {
        transform: scale(1.2);      
    }

    .imagen-titulo {
        width: 50%;
        top: 0;
    }

    /* CSS main */

    #section1 {
        text-align: center;
    }

    .areaTexto {
        text-align: center;
        margin: 1rem 0;
    }

    .textArea1 {
        width: 90%;
        height: 28rem;
        margin-top: 2rem;
        padding: 1rem;
        font-size: 20px;
        font-family: 'Inter', sans-serif;
        color: #0a3871;
        font-weight: 550;
        background-color: #F3F5FC;
        text-align: justify;
        border: none;
        cursor: auto;
        resize: none;
        outline: 0 none;
    }

    ::placeholder {
        color: #0a3871; /* Cambia el color del placeholder*/
      }

    .instrucciones {
        margin: 0 auto;
        padding: 1rem;
        width: 90%;
        text-align: left;
    }

    .textoIntrucciones {
        font-size: 14px;
    }

    .spanRojo {
        font-size: 16px;
        color: red;
    }

    .botonesIzquierda {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        gap: 1rem;
        width: 90%;
        margin: 1rem auto;
    }

    .botonEncriptar {
        padding: 1.5rem;
        margin-bottom: 1rem;
        width: 50%;
        border: 0.03rem solid #0A3871;
        border-radius: 23.25rem;
        font-size: 18px;
        font-weight: bold;
        background-color: #216FF4;
        color: white;
        cursor: pointer;
        transition: 200ms all;
    }

    .botonEncriptar:hover {
        border: solid 0.08rem #a3ffbf;
        transform: scale(1.03);
        background-color: #0A3871;
        font-size: 19px;
    }

    .botonDesencriptar {
        padding: 1.5rem;
        margin-bottom: 1rem;
        width: 50%;
        border: 0.03rem solid #0A3871;
        border-radius: 23.25em;
        font-size: 18px;
        font-weight: bold;
        background-color: #D8DFE8;
        color: #0A3871;
        cursor: pointer;
        transition: 200ms all;
    }

    .botonDesencriptar:hover {
        border: solid 0.08rem #0d4d9c;
        transform: scale(1.03);
        background-color: #bbbbbb;
        font-size: 19px;
    }

    #section2 {
        text-align: center;
        margin: 1rem 0;
    }

    .areaEncriptada {
        width: 90%;
        padding: 1rem;
        background-color: white;
        border-radius: 24px;
        margin: 0 auto;
        text-align: justify;
        cursor: default;
    }

    #inputEncriptado {
        width: 100%;
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        color: #0A3871;
        font-weight: 550;
        padding: 1rem;
    }

    .dibujoDerecha {
        width: 100%;
        text-align: center;
    }

    .dibujo {
        width: 20%;
        opacity: 1;
    }

    .textoAreaDerecha {
        flex-direction: column;
        text-align: center;
        padding: 0;
        cursor: default;
    }

    .mensajeDerecha1 {
        font-size: 24px;
        font-weight: bold;
        margin: 1rem 0;
    }

    .botonesDerecha {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 1rem 0;
        position: fixed;
    }

    #animacionBoton {
        opacity: 0;
    }

    .botonCopiar {
        padding: 1.5rem;
        width: 80%;
        border: 1px solid #0A3871;
        border-radius: 23.25rem;
        font-size: 18px;
        font-weight: bold;
        background-color: white;
        color: #0A3871;
        transition: 200ms all;
    }

    .botonCopiar:hover {
        border: solid 0.08rem #0d4d9c;
        transform: scale(1.03);
        background-color: #0A3871;
        color: #ffffff;
        font-size: 19px;
    }

}