body {
    font-family: 'Inter', sans-serif;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F3F5FC;
}

/* css header */

.divImagen{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;

}

.imagen-logo {


}

/* css main */
.tablero {

    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;

}

/* .tablero-texto{
    
    margin: 10em 0 2em 4em;
    width: 55%;
    
}

.tablero-encriptado{
    
   
    margin: 6em 2em 2em 5%;
    width: 30%;

}
*/
.textArea1 {
    position: absolute;
    width: 39em;
    height: 28em;
    left: 14em;
    top: 8em;
    
}

#inputTexto{
      
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1em;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: rgb(blue);    
    font-weight: bold;
    background-color: #F3F5FC;
}


.textArea2 {
    position: absolute;
    width: 25em;
    height: 44em;
    left: 60em;
    top: 3em;
    
}

.areaEncriptada {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    

} 


.dibujoDerecha {
    position: absolute;
    width: 15em;
    height: 14em;
    left: 62em;
    top: 10em;
}

.dibujo{

    position: absolute;

}

.textoAreaDerecha {
    display: flex;
    flex-direction: column; 
    text-align: center;
    padding: 0;
    gap: 1em;
    position: absolute;
    width: 20em;
    height: 5em;
    left: 62.5em;
    top: 32em;
}

.mensajeDerecha1{
    font-size: 24px;
    font-weight: bold;
}

.mensajeDerecha2{
    
}

.instrucciones {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 1em;
    position: absolute;
    width: 14em;
    height: 2em;
    left: 14em;
    top: 39em;

}

.textoIntrucciones {
    font-size: 12px;
    
}

.botonesIzquierda {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 2em;
    position: absolute;
    width: 42em;
    height: 5em;
    left: 14em;
    top: 41em;
    justify-content: space-evenly;
}

.botonEncriptar{
    
    padding: 2em;
    width: 100%;

}

.botonDesencriptar{
   
    padding: 2em;
    width: 100%;
    
}

.botonesDerecha {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0;
    position: absolute;
    width: 21em;
    height: 5em;
    left: 62em;
    top: 41em;
    justify-content: center;

}

.botonCopiar{
    padding: 2em;
    width: 100%;

}

/*
#encriptar{
    
    padding: 2em;
    width: 40em;
    margin: 0 1em 0 0;

}

#desencriptar{

    padding: 2em;
    width: 40em;
    margin: 0 0 0 1wm;

}

#copiar{

    
    padding: 2em;
    width: 40em;
    
} */

.areaEncriptada:focus {
    /* quita el resalte del borde al estar seleccionado el input */
    outline: none;

}

.areaEncriptada::-moz-selection {
    /*quita el color del seleccionado en el navegador Mozilla*/
    background-color: transparent;
}

.areaEncriptada::selection {
    background-color: transparent;
    /*quita el color del seleccionado en los otros navegadores*/
}